* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00d9ff;
}
.logo-img {
    width: 90px;
    height: auto;
    object-fit: contain;
}

.main-banner {
  .main-banner{
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
    url('../img/fondo.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content {
    max-width: 800px;
    background: rgba(0,0,0,0.45);
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.banner-logo {
    width: 220px;
    margin-bottom: 30px;
}



.banner-content {
    animation: fadeUp 1.5s ease;
}
.main-banner h1 {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 0 0 20px rgba(255,255,255,0.4);

    font-size: 4rem;
    margin-bottom: 20px;
}
.btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #00d9ff;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 100px 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

input,
textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
}
button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #00d9ff;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
    background: black;
}
